<template>
  <HelloWorld />
</template>

<script>
  import HelloWorld from '../components/MainPage'

  export default {
    components: {
      HelloWorld
    }
  }
</script>
ias to /src
import HelloWorld from '@/components/HelloWorld.vue'

export default {
  name: 'home',
  components: {
    HelloWorld
  }
}
</script>
