<template>
  <v-container fluid>
    <main-content></main-content>
    <Footer></Footer>
  </v-container>
</template>

<script>

  import MainContent from "../blocks/MainContent";
  import Footer from "../blocks/Footer";
  export default {
      components: {Footer, MainContent},
      data: () => ({

      })
  }
</script>

<style>

</style>
