<template>
    <v-footer
        height="auto"
        class="footer"
        :app="$vuetify.breakpoint.mdAndUp"
    >
        <v-container>
            <v-layout
                row
                wrap
            >
                <v-flex
                    xs12
                    md3
                >
                    <v-toolbar-title class="headline text-uppercase">
                        <span>Отличный</span>
                        <span class="font-weight-light">Магазин</span>
                    </v-toolbar-title>
                </v-flex>
                <v-flex
                    xs12
                    md3
                >
                    <span
                        class="title text-uppercase"
                    >
                        Раздел 1
                    </span>
                    <v-layout
                        row
                        wrap
                        mt-2
                    >
                        <v-flex
                            xs6
                            v-for="i in 8" :key="i"
                        >
                            <a
                                class="body-2"
                            >
                                Ссылка куда-то
                            </a>
                        </v-flex>
                    </v-layout>
                </v-flex>
                <v-flex
                    xs12
                    md3
                >
                    <span
                        class="title text-uppercase"
                    >
                        Раздел 2
                    </span>
                    <v-layout
                        row
                        wrap
                        mt-2
                    >
                        <v-flex
                            xs6
                            v-for="i in 8" :key="i"
                        >
                            <a
                                class="body-2"
                            >
                                Ссылка куда-то
                            </a>
                        </v-flex>
                    </v-layout>
                </v-flex>
                <v-flex
                    xs12
                    md3
                >
                    <div
                        class="copyright caption mt-3"
                    >
                        2016-2018 © vueShoppingCart.ru — модный магазин товаров из запросов на Сваггер. Все права защищены. Доставка по всей России!
                    </div>
                </v-flex>
            </v-layout>
        </v-container>
    </v-footer>
</template>

<script>
    export default {
        name: "Footer"
    }
</script>

<style scoped>
    .footer {
        width: 100%;
        background-color: #f0f0f0;
    }
</style>
