<template>
    <v-container fluid>
        <v-toolbar
            class="elevation-0"
            style="position: relative"
        >
            <v-toolbar-title class="headline text-uppercase">
                <span>Отличный</span>
                <span class="font-weight-light">Магазин</span>
            </v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn
                flat
                class="px-4"
                v-on:mouseover="showCart = true"
            >
                <span class="mr-2">
                    Корзина ({{ goodsInCart.length }})
                </span>
                <i class="material-icons">
                    shopping_cart
                </i>
            </v-btn>
            <v-flex
                v-show="showCart"
                v-on:mouseover="showCart = true"
                v-on:mouseleave="showCart = false"
                xs12
                md3
                class="dropdown_cart"
            >
                <v-card>
                    <v-container
                        fluid
                        grid-list-md
                    >
                        <v-layout>
                            <v-data-table
                            :items="goodsInCart"
                            hide-actions
                            hide-headers
                            class="elevation-0"
                            >
                                <template slot="items" slot-scope="props">
                                    <td>
                                        <img
                                            :src="require('../assets/sample.jpg')"
                                            width="20px"
                                            height="20px"
                                        >
                                    </td>
                                    <td>{{ props.item.name }}</td>
                                    <td class="text-xs-right">{{ props.item.price }}</td>
                                </template>
                            </v-data-table>
                        </v-layout>
                        <v-layout
                            row
                            wrap
                            justify-space-around
                            v-if="goodsInCart.length !== 0"
                        >
                            <v-btn
                                color="success"
                                v-on:click="toPayment"
                            >
                                Оформить
                            </v-btn>
                            <v-btn
                                color="error"
                                v-on:click="cancelCart"
                            >
                                Очистить корзину
                            </v-btn>
                        </v-layout>
                    </v-container>
                </v-card>
            </v-flex>
        </v-toolbar>
        <v-layout
            row
            wrap
            justify-center
        >
            <v-flex xs12 lg8>
                <v-data-table
                        :headers="headers"
                        v-model="selected"
                        :items="sortedGoods"
                        item-key="id"
                        select-all
                        class="ma-4"
                        hide-actions
                >
                    <template slot="items" slot-scope="props">
                        <td>
                            <v-checkbox
                            v-model="props.selected"
                            primary
                            hide-details
                            ></v-checkbox>
                        </td>
                        <td>{{ props.item.group }}</td>
                        <td class="text-xs-left">{{ props.item.name }}</td>
                        <td class="text-xs-left">{{ props.item.price }}</td>
                        </template>
                </v-data-table>
                <v-layout row justify-center>
                    <v-btn
                        color="info"
                        v-on:click="toCart"
                        :disabled="selected.length === 0"
                    >
                        В корзину
                    </v-btn>
                </v-layout>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    const axios = require('axios');

    export default {
        name: "MainContent",
        data: () => {
            return {
                sortedGoods: [],
                goodsInCart: [],
                showCart: false,
                selected: [],
                headers: [
                    { text: 'Категория', align: 'left', value: 'group' },
                    { text: 'Товар', align: 'left', value: 'name' },
                    { text: 'Цена', align: 'left', value: 'price' }
                ]
            }
        },
        methods: {
          async getGoods () {
              //Получаем список товаров промисом
              const res = await axios('https://ssdev.superagent.ru/TestApp/Values/GetWithParent')
              let goods = []
              //Сортируем полученные данные для удобства использования с компонентом DataTable
              for (let i in res.data) {
                  let object = res.data[i].skus
                  for (let item in object) {
                      object[item].group = res.data[i].group.name
                      object[item].groupId = res.data[i].group.id
                  }
                  for (let arr in object) {
                      goods.push(object[arr])
                  }
              }
              this.sortedGoods = goods
              return res.data
          },
          toCart () {
              //Добавляем выбранные товары в корзину и удаляем из списка на отображение
              for (let item in this.selected) {
                  this.goodsInCart.push(this.selected[item])
                  for (let i in this.sortedGoods) {
                      if (this.sortedGoods[i].id === this.selected[item].id) {
                          this.sortedGoods.splice(i, 1)
                      }
                  }
              }
              this.selected = []
          },
          purgeCart () {
              //Метод для очищения корзины
              for (let i in this.goodsInCart) {
                  this.sortedGoods.push(this.goodsInCart[i])
              }
              this.goodsInCart = []
              //Отключаем видимость корзины
              this.showCart = false
          },
          cancelCart () {
              //Сообщение при нажатии на красную кнопку в корзине
              this.purgeCart()
              this.$swal(
                  'Готово!',
                  'Корзина очищена',
                  'success'
              )
          },
          toPayment () {
              //Сообщение при нажатии на зеленую кнопку в корзине
              this.purgeCart()
              this.$swal(
                  'Упс!',
                  'У вас нет денег :( Найдите работу!',
                  'error'
              )
          }
        },
        created () {
            //При загрузке модуля выполняем getGoods()
            this.getGoods()
        }
    }
</script>

<style scoped>
    .dropdown_cart {
        position: absolute;
        opacity: 1;
        top: 64px;
        height: auto;
        min-width: 320px;
        right: 0;
    }
</style>
